@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

.nav-link {
  color: black;
  font-weight: 500;
}

body {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: beige;
  font-family: "Poppins", sans-serif;
}

.container {
  justify-content: space-evenly;
  margin: 0 auto;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0%;
  }
}

/* First Section */

.acontainer {
  padding: 10px;
  color: #000000;
}

.current-info {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
}

/* Date Middle */

.date-contiainer {
  font-weight: 100;
}

.date-contiainer .time {
  font-size: 70px;
  text-align: left;
  width: 350px;
}

.date-contiainer #am-pm {
  font-size: 30px;
  margin-left: 20px;
  text-align: right;
}

.date-contiainer .date {
  font-size: 30px;
}

.next {
  font-weight: 500;
}

/* Location */

.place-container {
  font-size: 30px;
  font-weight: 200;
  text-align: end;
}

.place-container .country {
  font-size: 20px;
  font-weight: 700;
}

.others {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;

  border: 1px solid #fff;
  color: #fff;
  width: 250px;
}

/* Quote */
.wrapper {
  width: 50%;
  margin: auto;
}

.content .quote-area {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.quote-area i:first-child {
}

.quote-area i:last-child {
  display: flex;
  align-items: flex-end;
}

.quote-area .quote {
  font-size: 22px;
  margin: 20px;
  word-break: break-all;
}

.content .author {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.wrapper .buttons {
  border-top: 1px solid #ccc;
}

.buttons .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features ul {
  display: flex;
}

.features ul li {
  list-style: none;
  margin: 5px;
  border: 2px solid;
  border-radius: 50%;
  height: 47px;
  width: 47px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #636363;
}

.features ul li:hover {
  color: #000000;
  transition: all 0.3s ease;
}

.features button {
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

/* weather-forecast */

.weather-item {
  display: flex;
  justify-content: space-between;
}

.weather-forecast {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* Marketing */

.featurette-heading {
  padding: 10%;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.fw-normal {
  padding-top: 25px;
}

.marketing .col-lg-4 p {
  margin: 0 0 0 0;
}

.map {
  display: flex;
  flex-wrap: wrap;
}

.mapa {
  margin: auto;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

  .acontainer {
    margin: auto;
    padding: 10px;
    color: #000000;
  }
}
