@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

.nav-link {
  color: black;
  font-weight: 500;
}

body {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: beige;
  font-family: "Poppins", sans-serif;
}

.container {
  justify-content: space-evenly;
  margin: 0 auto;
}

.acontainer {
  padding: 10px;
  color: #000000;
}

.current-info {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
}

.date-contiainer {
  font-weight: 100;
}

.date-contiainer .time {
  font-size: 70px;
}

.date-contiainer #am-pm {
  font-size: 30px;
  margin-left: 20px;
}

.date-contiainer .date {
  font-size: 30px;
}

.next {
  font-weight: 500;
}

.place-container {
  font-size: 30px;
  font-weight: 200;
  text-align: end;
}

.place-container .country {
  font-size: 20px;
  font-weight: 700;
}

.others {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;

  border: 1px solid #fff;
  color: #fff;
  width: 250px;
}

.weather-item {
  display: flex;
  justify-content: space-between;
}

/* Marketing */

.featurette-heading {
  padding: 10%;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.fw-normal {
  padding-top: 25px;
}

.marketing .col-lg-4 p {
  margin: 0 0 0 0;
}

.map {
  display: flex;
  flex-wrap: wrap;
}

.mapa {
  margin: auto;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

  .acontainer {
    margin: auto;
    padding: 10px;
    color: #000000;
  }
}
